<link rel="stylesheet" href="./css/home.css" />
<p>rendering ejs template</p>

<%if(locals.user){%>
<section id="feed-posts">
  <h1>Posts</h1>
  <form action="/posts/create" method="POST" id="new-post-form">
    <textarea
      name="content"
      cols="30"
      rows="3"
      placeholder="enter commnet"
    ></textarea>
    <button type="submit">Post</button>
  </form>
</section>
<%}%>
<div id="posts-list-container">
  <ul>
    <% for(let post of posts){%> <%-include("_post",{post:post})-%> <%}%>
  </ul>
</div>

<section>
  <%for(user of all_users){%>
  <p><a href="/users/profile/<%=user._id%>"><%=user.name%></a></p>
  <%}%>
</section>
