<h1>SIGN IN</h1>
<form action="/users/createSession" method="POST">
  <input type="email" name="email" placeholder="enter email" required />
  <input
    type="password"
    name="password"
    placeholder="enter password"
    required
  />
  <button type="submit">signIn</button>
</form>
